.repository-item {
  display: flex;
  align-items: center;

  cursor: pointer;

  &__name {
    width: 30%;
  }

  &__stars {
    width: 10%;
  }

  &__issues {
    width: 10%;
  }

  &__star-icon {
    color: gold;
  }
}